# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output (if you add later)
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Coverage
coverage/

# Temporary files
*.tmp
*.swp
